body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    background-color: rgb(122, 116, 116);
}
/*Header*/
.header{
    z-index: 5;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background-blend-mode: multiply;
    background: silver;
    opacity: .5;
}
.header:hover{
    opacity: 1;
    cursor: pointer;
}
.logo{
    margin-left: 15px;
    color: white;
    font-size: 40px;
    width: 300px;
    cursor: pointer;
}
.logo:hover{
    color: gray;
}
.header-link{
    float: right;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}
.header-link:hover{
    text-decoration: underline;
    color: grey;
    opacity: .8;
}
.link-items{
    margin-top: -55px;
    margin-right: 15px;
}
/*Main*/

.slider{
   /* border: 1px solid black;*/
    overflow: hidden;
    height: 502px;
    width: 1024px;
    margin: 30px auto;
    padding: 0;
}


.slider-line
{
    height: 502px;
    width: 752px;
    display: flex;
    border: 1px solid black;
    position: relative;
    left: 0;;
    transition: all ease 1s;
}
.one{
    border-radius: -17px;
    width: 50px;
    bottom: 15px;
    color: black;
    cursor: pointer;

}
.one:hover{
    opacity: .5;
}
.three{
    border-radius: -17px;
    width: 50px;
    bottom: 15px;
    color: black;
    cursor: pointer;

}
.three:hover{
    opacity: .5;
}
.two{
    border-radius: -17px;
    width: 50px;
    bottom: 15px;
    color: black;
    cursor: pointer;

}
.two:hover{
    opacity: .5;
}